| spotifier.io
|
| Click the link below to confirm your account.
|
| #{url}
|
| Cheers,
| Your friendly neighborhood spotifier team
|
| Need help? Want to help? Contact me!
| Twitter: https://twitter.com/ryanpage_io
| Github: https://github.com/ryanpage42