| spotifier.io
|
| Hello!
|
| We found some new releases for artists you are tracking.
|
|
each artist in artists
    | #{artist.recent_release.title}
    | #{artist.artist.name}
    | #{artist.recent_release.url}
    |
    |
|
| Need help? Want to help? Contact me!
| Twitter: https://twitter.com/ryanpage_io
| Github: https://github.com/ryanpage42
| Unsubscribe: http://localhost:3000/unsubscribe