spotifier/node_modules/
spotifier/.idea/
spotifier/.vscode/
spotifier/tests/artist-release-cache.txt
spotifier/server/utils/cache/cached-new-releases.txt
spotifier/server/sslcert/
spotifier/private/
spotifier/logs/log.json
spotifier/logs/human.log
spotifier/package-lock.json
.vscode/
/node_modules/logger/node_modules
/node_modules/message-queue/node_modules
/job-handler/node_modules
/tests/node_modules
node_modules/spotify-api/node_modules
private/
node_modules/test-helper/node_modules