node_modules/
.idea/
.vscode/
tests/artist-release-cache.txt
server/utils/cache/cached-new-releases.txt
server/sslcert/
private/config.json
logs/log.json
logs/human.log
package-lock.json
private-bu/config-private.js
private/
.env
react-client/.env