.status-text {
    width: 100%;
    float: none;
    margin: 0 auto;
}

.nav-btn {
    max-width: 300px;
    height: 45px;
    border-radius: 25px;
    background-color: #1dab4f;
    font-size: 8pt;
    /*margin: 10px;*/
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.social-fa-btn:active, .social-fa-btn:visited, .social-fa-btn:focus {
    color: white;
    text-decoration: none;
}

#content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    float: none;
    margin: 0 auto;
    text-align: center;
}

#title-block {
    padding-top: 25px;
    background-color: #323331;
}

#logo {
    display: block;
    height: 100px;
    float: none;
    margin: 0 auto;
    margin-bottom: -20px;
}

#name {
    font-size: 50pt;
    color: white;
    text-align: center;
}

#status {
}

#status-title-line {
    width: 95%;
    max-width: 375px;
    border: solid 1px gray;
    margin-top: -5px;
}

#body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#nav-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    margin: 0px;
}

#social-bar {
    color: white;
    margin-bottom: 75px;
}

@media screen and (orientation: landscape) {
    #page-container {
        min-height: 600px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {

    .status-text {
        width: 450px;
        font-size: 14pt;
    }

    .nav-btn {
        height: 40px;
        font-size: 12pt;
    }

    /*#title-block {*/
        /*display: inline-block;*/
    /*}*/

    /*#logo {*/
        /*display: inline-block;*/
        /*height: 75px;*/
        /*margin: 0;*/
    /*}*/

    /*#name {*/
        /*display: inline-block;*/
        /*font-size: 48pt;*/
        /*margin: 0;*/
        /*margin-left: 10px;*/
        /*line-height: inherit;*/
        /*vertical-align: middle;*/
    /*}*/
    #title-block {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #323331;
        align-items: center;
        padding: 0;
    }

    #logo {
        display: inline-block;
        height: 60px;
        margin: 0;
        padding-left: 10px;
    }

    #name {
        display: inline-block;
        font-size: 36pt;
        margin: 0;
        margin-left: 10px;
        line-height: inherit;
        vertical-align: middle;
    }

    #nav-block {
        align-items: flex-start;
        padding-top: 30px;
    }

    #social-bar {
        margin-bottom: 10px;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
