#page-container {
    height: 100vh;
    min-width: 410px;
    min-height: 935px;
    float: none;
    margin: 0 auto;
    background-color: #4c4e4a;
}

#content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

#title-block {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;
    margin: 0 auto;
}

#logo {
    display: block;
    height: 100px;
    float: none;
    margin: 0 auto;
    margin-bottom: -20px;
}

#name {
    font-size: 50pt;
    color: white;
    text-align: center;
}

#about-block {
    margin-top: 25px;
    margin-bottom: 25px;
}

#about {
    width: 375px;
    max-width: 500px;
    color: white;
    font-size: 14pt;
    font-family: 'Montserrat Extra-Light', sans-serif;
    float: none;
    margin: 0 auto;
}

#demo {
    width: 575px;
    border: solid 2px darkgray;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#nav-block {
    flex-grow: 1;
}

#nav-btn {
    width: 60%;
    max-width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: #1dab4f;
    margin: 5px;
    margin-bottom: 50px;
    font-size: 14pt;
}

#nav-btn:hover {
    background-color: #209235;
    vertical-align: middle;
}

#social-bar {
    color: white;
    padding-bottom: 75px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
    #title-block {
        display: inline-block;
        background-color: transparent;
    }

    #about {
        font-size: 18pt;
        width: 550px;
    }

    #logo {
        display: inline-block;
        height: 125px;
        margin: 0;
    }
    #name {
        display: inline-block;
        font-size: 64pt;
        margin: 0;
        margin-left: 10px;
        line-height: inherit;
        vertical-align: middle;
    }

    #nav-btn {
        width: 250px;
        height: 42px;
    }

    #social-bar {
        padding-bottom: 10px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}