p {

}

.col-centered {
    float: none;
    margin: 0 auto;
}

.page-container {
    min-height: 706px;
    width: 100vw;
    background-color: #c5c7c3;
}

.body-container {
    height: calc(100vh - 75px)
}

.library-container {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}

.artist-container {
    width: 95%;
    height: 40px;
    margin: 0 auto;
    margin-top: 2px;
    background-color: lightgrey;
}

.artist-element {
    height: 100%;
    font-size: 16px;
    color: black;
    vertical-align: middle;
    line-height: 40px;
    float: left;
}

.toggle-container {
    display: flex;
    height: 100%;
    width: 5%;
    float: left;
    justify-content: center;
}

.social-fa-btn, .social-fa-btn:hover {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    line-height: inherit;
    padding: 0;
    margin: 0 auto;
    color: #4c4e4a;
}

.added-button {
    vertical-align: middle;
    margin: 0 auto;
    color: #4c4e4a;
}

.remove-button {
    margin: 0 auto;
}

.btn-login {
    width: 80px;
    margin: 8px;
}

.search {
    position: relative;
    min-width: 275px;
    width: 20%;
    z-index: 5;
    margin: 0 auto;
    vertical-align: middle;

}

.search-bar {
    width: 100%;
    min-width: 200px;
    margin-top: 18px;
    margin-bottom: -10px;
    border-radius: 30px;
}

.search-results {
    position: absolute;
    width: 90%;
    margin-left: 2px;
    background-color: #484d46;
    overflow: hidden;
    z-index: 5;
    box-shadow: 4px 4px 10px #484d46;
}

.result {
    display: flex;
    height: 42px;
    width: 98%;
    margin: 4px;
}

.result-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 42px;
    height: 42px;
    color: white;
    background: transparent;
    border: none;
}

.result-name {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    vertical-align: middle;
    padding-left: 4px;
    /*padding-right: 8px;*/
    font-size: 14px;
    color: #bdc5ba;
    overflow: hidden;
}

.result-pic {
    border-radius: 42px;
    min-width: 42px;
    min-height: 42px;
    margin-left: 5px;
    background-position: center;
    background-size: cover;
}

.grid {
    height: calc(100vh - 80px) !important;
}

.grid-center-text-vert {
    line-height: 37px;
    vertical-align: middle;
}

.grid-center-album-link {
    line-height: 45px;
    vertical-align: middle;
}
.ui-grid {
    height: 100%;
    min-height: 600px;
    color: #181818;
}

.ui-grid-viewport {
    height: calc(100vh - 108px) !important;
    min-height: 580px;
}

.grid-artist-column {
    background-color: #8c8c8c;
}

.left-sidebar-container {
    height: 300px;
}

.sidebar {
    width: 100%;
    height: 100%;
    background-color: #4c4e4a;
    margin: 0 auto;
    margin-top: 10px;
}

.sync-queue-tooltip {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.tooltip-text {
    /*display: inline-block;*/
    width: 98%;
    height: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    color: #c2c4c0;
    font-size: 1.5rem;
}

.sync-queue-tooltip-nav {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.sync-queue-tooltip-btn {
    width: 100%;
    max-width: 200px;
    font-size: 10pt;
    border-radius: 15px;
}


.tooltip-title {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 18pt;
}

.tooltip-line {
    width: 90%;
    margin: 0 auto;
    border-color: #1dab4f;
}

.close-window-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    color: white;
}

.menu-button {
    color: white;
    text-decoration: none !important;
    margin: 16px;

}

.menu-button:hover {
    color: lightgray;
}

.shadow {
    box-shadow: 3px 3px 10px #60665d;
}

.logo-img {
    position: relative;
    float: left;
    height:  60px;
    margin-top: 5px;
    margin-left: 8px;
}

.release-link, .release-link:active, .release-link:visited {
    margin-left: 5px;
    color: inherit;
    text-decoration: none;
}

#header {
    position: relative;
    background-color: #4c4e4a;
    width: 100%;
    height: 75px;
}

#logo {
    float: left;
    color: white;
    margin-top: 16px;
    margin-left: 10px;
}

#artist-name {
    overflow: hidden;

}

#artist-release-art {
    background-size: contain;
    width: 35px;
    height: 35px;
    margin: 5px;
}

#artist-release-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#spinner-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#result-spinner {
    font-size: 24px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
}

#h {
    background-color: black;
}

#help-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-decoration: none !important;
}

#help-btn:hover {
    color: black;
}

#instructions-tooltip-text {
    max-height: 100%;
    text-align: center;
    font-size: 10pt;
    margin: 10px;
    margin-bottom: 15px;
    color: #c2c4c0;
}

#library-hint {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    text-align: center;
}

.fadeInLeft {
    animation-duration: .3s;
}

.fadeIn {
    animation-duration: .25s;
}


@media (max-width: 768px) {
    .search {
        margin: 0;
    }

    .left-sidebar-container {
        height: 250px;
        margin-bottom: 20px;
    }
    .tooltip-text {
        font-size: 8pt;
        height: 35%;
    }
    .sync-queue-tooltip-nav {
        margin-top: 15px;
        height: 25%;
    }

    .library-container {
        float: none;
        margin: 0 auto;
        width: 95%;
        flex-grow: 1;
        overflow: hidden;
    }

    .ui-grid {
        font-size: 8pt;
    }

    .ui-grid-viewport {
    }

    #content-container {
        display: flex;
        flex-direction: column
    }
}

@media (max-width: 1199px) {
    .tooltip-text {
        font-size: calc(.5vw + 12px);
    }
}

