.page-container {
    height: calc(100vh - 50px);
    width: 100%;
    background-color: lightblue;
}

.library-container {
    overflow-y: scroll;
    margin: 0 auto;
    max-height: 100%;
    background-color: darkgrey;
}

.artist-container {
    width: 95%;
    height: 40px;
    margin: 0 auto;
    margin-top: 2px;
    background-color: lightgrey;
}

.artist-element {
    height: 100%;
    font-size: 16px;
    color: black;
    vertical-align: middle;
    line-height: 40px;
    float: left;
}

#artist-name {
    overflow: hidden;

}

#artist-release {
}

#artist-release-art {
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 5px;
}

#artist-release-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#artist-release-date {
}