div(id='container')
    style: include style.css
    div(id='title-block')
        img(id='logo' src='http://i.imgur.com/v9Lya6p.png')
        h1(id='name')
            span spotifier
            span(style='color: #1dab4f;') .io
    hr
    div(id='body')
        span Click&nbsp;
        a(id='confirm-link' href=url target='_blank') here
        span &nbsp;to confirm your email address.
        br
        br
        span Cheers,
        br
        span(id='signature') Your friendly neighborhood spotifier team

    br
    br
    div(id='social-links')
        span Need help? Want to help? Contact me!
        br
        a(id='twitter' href='https://twitter.com/ryanpage_io') Twitter
        span &nbsp;|&nbsp;
        a(id='github' href='https://github.com/ryanpage42') Github


