.search-row-container {
    display: flex;
    flex-direction: row;
}

.search-row {
    color: rgb(228, 228, 228);
    padding-left: .5rem;
}

.search-btn-container {
    background-color: rgb(133, 145, 133);
    width: 3rem;
}