<div class="page-container" data-ng-controller="library-controller">
    <link rel="stylesheet" type="text/css" href="../css/user-library-style.css">
    <div id="header">
        <h1>Spotifier</h1>
        <div class="search container">
            <form class="form-group" data-ng-submit="search(artistName)">
                <input id="spotify-search" class="form-control search-bar" placeholder="search for artists on Spotify"
                       data-ng-model="artistName">
            </form>
            <div class="search-results" data-ng-cloak data-ng-show="resultBoxShown">
                <i id="result-spinner" class="fa fa-refresh fa-spin" data-ng-show="resultSpinnerShown"></i>
                <div class="result" data-ng-repeat="artist in results" data-ng-show="resultsShown">
                    <button class="result-add" data-ng-click="add(artist)"><i
                            class="fa fa-align-center fa-plus fa-2x"></i></button>
                    <div class="result-name">
                        <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{artist.name}}
                        </div>
                    </div>
                    <div class="result-pic" data-ng-style="{'background-image' : 'url(' + artist.url + ')'}"></div>
                </div>
            </div>
        </div>

        <div style="position: absolute; right: 0; top: 0">
            <a href="/user/logout" target="_self" class="menu-button">logout</a>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-md-2" data-ng-switch="syncStatus">
                <button class="btn btn-success" data-ng-click="syncLibrary()" data-ng-switch-default>SYNC W/ LIBRARY</button>
                <div class="sync-queue-tooltip" data-ng-switch-when="enqueued">
                    <div>BLAH BLAH BLAH YOURE IN A QUEUE</div>
                    <button class="fa fa-times" data-ng-click="cancelSyncLibrary()"></button>
                </div>
                <div class="sync-queue-tooltip active-sync" data-ng-switch-when="active">
                    <div>YOUR LIBRARY IS CURRENTLY BEING SYNCED</div>
                </div>
            </div>

            <div class="library-container container-fluid col-md-8 col-xs-11">
                <div class="grid" ui-grid="gridOptions"></div>
            </div>
        </div>
    </div>


</div>



